@import '../vars';

nav, .sidenav {
    background: $grey-10;
    color: $grey-1000;
    box-shadow: none;
    .material-icons {
      color:$grey-1000 !important;
    }
}

.user-icon{
    margin-right: 5px !important;
}

.icon-pulldown{
    margin-top: 0.5em;
}

.badge-point {
    width: 10px;
    height: 10px;
    background: $orange;
    margin: 10px;
    position: relative;
    bottom: 4.2em;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 20px 7px $orange;

    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@media only screen and (min-width: 1024px){

    .notifications {
        position: fixed;
        z-index: 997;
        right: 11em;
        width: 20%;
        background: $black-600;
        max-height: 50%;
        overflow-y: auto;
        top: 2em;
        color: $white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    
        li {
            padding: 1em 2em;
            background: $black-600;
            .title {
                vertical-align: super;
                margin-right: 1em;
            }
    
            &.right-align {
                padding-bottom: 1em;
            }
    
            &.unread {
                background: $grey-400;
                color: black;
            }
    
            &.divider {
                padding: 0;
                width: 100%;
                height: 5px;
                background-color: $orange;
                background-image: linear-gradient(30deg, $orange-100,$orange-200);
            }        
    
            .material-icons {
                margin-right: 5px;
            }
    
            .material-icons.mark-as-read {
                padding: 0.1em;
                border-radius: 2px;
            }
            .background-round {
                padding: 5px;
            }
        }
    }

}

@media only screen and (max-width: 1024px){

    .logged-user-name{
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .notifications {
        position: fixed;
        z-index: 997;
        left: 4em;
        width: 66%;
        margin-left: 50px;
        background: $black-600;
        max-height: 50%;
        overflow-y: auto;
        top: 2em;
        color: $white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    
        li {
            padding: 1em 2em;
            background: $black-600;
            .title {
                vertical-align: super;
                margin-right: 1em;
            }
    
            &.right-align {
                padding-bottom: 1em;
            }
    
            &.unread {
                background: $grey-400;
                color: black;
            }
    
            &.divider {
                padding: 0;
                width: 100%;
                height: 5px;
                background-color: $orange;
                background-image: linear-gradient(30deg, $orange-100,$orange-200);
            }        
    
            .material-icons {
                margin-right: 5px;
            }
    
            .material-icons.mark-as-read {
                padding: 0.1em;
                border-radius: 2px;
            }
            .background-round {
                padding: 5px;
            }
        }
    }

}

@keyframes pulse {
    0%   {
       box-shadow: 0 0 20px 3px $orange;
    }
    100% { 
      box-shadow: 0 0 20px 10px $orange;
    }    
 }

ul#nav-mobile li {
    margin-right: 2em;
}