@import '../vars';
form {
    background-color: $white;
    color: $dark-grey;
    padding: 30%;

    .title {
        font-weight: 900;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 30rem;
    }
    div.wrapper div {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        margin-top: 1rem;
    }
}