<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="wrapper">
        <span class="title"> Muito bom te ver aqui :) </span>
        <div class="login">
            <input id="login" type="text" placeholder="Email" formControlName="user">
        </div>

        <div class="password">
            <input id="password" type="text" placeholder="Senha" formControlName="password">
        </div>

        <div class="login">
            <button [disabled]="loading" class="primary">
                LOGIN
            </button>
        </div>

    </div>
</form>