<form class="col s8 card-panel" [formGroup]="categoryForm">
    <div class="row">
        <div class="col s12 center-align">
            <h4>Cadastrar Categoria</h4>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8">
            <input #name type="text" placeholder="Nome da categoria" formControlName="name">
        </div>
        <div class="col s3">
            <button class="btn orange darken-1" [disabled]="loading" (click)="onSubmit()">{{(!category)?"Cadastrar":"Editar"}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col s3 push-s3">
        </div>
    </div>
</form>

<app-pagination
    [arrayInfos]="categoriesInfos"
    moduleUrl="categories"
    [page]="categoriesInfos?.current_page"
></app-pagination>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let category of categoriesInfos?.data">
            <td>{{category.name}}</td>
            <td>
                <a class="orange-text clickable" (click)="selectCategory(category)">
                    <i class="material-icons">
                        create
                    </i>
                </a>
            </td>
            <td>
                <a class="red-text clickable" (click)="deleteCategory(category)">
                    <i class="material-icons">
                        close
                    </i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<app-pagination
    [arrayInfos]="categoriesInfos"
    moduleUrl="categories"
    [page]="categoriesInfos?.current_page"
></app-pagination>
