$blue:#3E59FF;
$light-blue:#42d7EE;
$sky: #00C3FF;
$purple: #5F459E;

$green:#3EE6B3;
$red:#F26175;
$yellow:#FFCE38;
$lemon:#E5DC00;

$pink: #E74688;
$orange: #FF6D00;

$dark-grey: #343A40;
$light-grey: #F8F9FD;
$grey-600: #6C757D;
$grey-300: #DEE2E6;

$white: #FFF;