<form class="col s8" [formGroup]="productForm">
    <div class="row">
        <div class="input-field col s4">
            <input type="text" placeholder="Nome da peça" formControlName="title">
        </div>
        <div class="input-field col s4">
            <input type="text" placeholder="Referência" formControlName="ref">
        </div>
        <div class="input-field col s4">
            <input type="number" placeholder="Quantidade" formControlName="amount">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4">
            <input type="text" placeholder="Valor de custo" formControlName="value_cost">
        </div>
        <div class="input-field col s4">
            <input type="text" placeholder="Valor de venda" formControlName="value_sell">
        </div>
        <div class="input-field col s4">
            <input list="Categorias" placeholder="Categorias" />
            <datalist id="Categorias">
                <option *ngFor="let category of categories" value="{{category.name}}">
            </datalist>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" formControlName="application"></textarea>
            <label for="textarea1">Textarea</label>
        </div>
    </div>

    <a class="waves-effect waves-light btn blue darken-1" (click)="onSubmit()">Cadastrar</a>
</form>