@import '../vars';

div.wrapper {
    background-color: $grey-300;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.title {
        align-self: center;
        margin-top: 2%;
        margin-bottom: 2%;
        span {
            font-size: 2rem;
            color: $dark-grey;
        }
    }
}