
<div class="row">
    <form class="col s4" [formGroup]='reportForm'>
        <div class="row">
            <div class="col s12 center-align">
                <h5>Relatório de produtos obsoletos</h5>
            </div>
            <div class="input-field col s12">
                <input type="date" placeholder="Desde" formControlName="since" name="since"/>
                <label for="since">Desde</label>
            </div>
            <div class="input-field col s12">
                <input type="date" placeholder="Desde" formControlName="at" name="at"/>
                <label for="at">Até</label>
            </div>
            <div class="input-field col s12">
                <input type="text" placeholder="Mínimo de venda"  formControlName="minimun_amount" name="limit_amount"/>
                <label for="minimun_amount">Mínimo de venda</label>
            </div>
        </div>
    </form>
    <div class="col s8 red">
        B
    </div>
</div>

{{ reportForm.value | json}}