<ul id="slide-out" class="sidenav sidenav-fixed">
  

  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" data-collapsible="expandable" materialize="collapsible">
      <li>
        <a class="collapsible-header">Cadastrar Produto<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a routerLink="/products"><i class="material-icons">add</i>Novo</a></li>
            <li><a routerLink="/inventory-add"><i class="material-icons">arrow_upward</i>Acrescentar ao estoque</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li><a routerLink="/inventory-list"><i class="material-icons">list</i>Consultar Estoque</a></li>

  <li><a routerLink="/inventory-edit"><i class="material-icons">edit</i>Editar Estoque</a></li>
  <li><a routerLink="/inventory-sell"><i class="material-icons">shopping_cart</i>Dar Baixa</a></li>
  <li><a routerLink="/sales"><i class="material-icons">assessment</i>Listar Baixas</a></li>

  <li><a routerLink="/categories"><i class="material-icons">bookmarks</i>Cadastrar Categorias</a></li>
  <li><a routerLink="/profile"><i class="material-icons">account_box</i>Editar Perfil</a></li>
  <li (click)="logout()"><a class="clickable"><i class="material-icons">cancel_presentation</i>Sair</a></li>
  

</ul>
