@import "./app/vars";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: #FFF;
}
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.disabled {
  pointer-events: none;
  color: $grey-100;
}

.pagination li.active {
  background-color: $orange-300;
}

* {
  transition: 0.3s;
  &:not(.btn > *) {
    color:$dark-grey;
  }
}

.succes {
  background-color: $blue;
  color: $white;
}

.fail {
  background-color: $red;
  color: $white;
}

.clickable {
  cursor: pointer;
}

.small {
  font-size: 1em;
}

.background-round {
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.18);
}

.badge {
  border-radius: 4px;
}

.gradient-45deg-light-blue-cyan {
  background: linear-gradient(45deg,#0288d1,#26c6da)!important;
}

.gradient-45deg-red-pink {
  background: linear-gradient(45deg,#ff5252,#f48fb1)!important;
}

.gradient-45deg-green-teal {
  background: linear-gradient(45deg,#43a047,#1de9b6)!important;
}

button, .btn {
  border-radius: .5em;
  width: 100%;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
  background-color: transparent;
  border: .2em solid #333232;
  border-radius: .5em;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  text-indent: 10px;
  box-shadow: none;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  -webkit-transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s;
}


input.valid:not([type]), input.valid:not([type]):focus, input.valid[type="text"]:not(.browser-default), input.valid[type="text"]:not(.browser-default):focus, input.valid[type="password"]:not(.browser-default), input.valid[type="password"]:not(.browser-default):focus, input.valid[type="email"]:not(.browser-default), input.valid[type="email"]:not(.browser-default):focus, input.valid[type="url"]:not(.browser-default), input.valid[type="url"]:not(.browser-default):focus, input.valid[type="time"]:not(.browser-default), input.valid[type="time"]:not(.browser-default):focus, input.valid[type="date"]:not(.browser-default), input.valid[type="date"]:not(.browser-default):focus, input.valid[type="datetime"]:not(.browser-default), input.valid[type="datetime"]:not(.browser-default):focus, input.valid[type="datetime-local"]:not(.browser-default), input.valid[type="datetime-local"]:not(.browser-default):focus, input.valid[type="tel"]:not(.browser-default), input.valid[type="tel"]:not(.browser-default):focus, input.valid[type="number"]:not(.browser-default), input.valid[type="number"]:not(.browser-default):focus, input.valid[type="search"]:not(.browser-default), input.valid[type="search"]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
  border-bottom: none;
  box-shadow: none;
}

.input-field.col label {
  color: $grey-600;
  left: 1.2rem;
  top: -0.8em;
}

input:not([type]):focus:not([readonly]) + label, input[type="text"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label, input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="url"]:not(.browser-default):focus:not([readonly]) + label, input[type="time"]:not(.browser-default):focus:not([readonly]) + label, input[type="date"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, input[type="number"]:not(.browser-default):focus:not([readonly]) + label, input[type="search"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $orange;
}

.inside {
  input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
    border: 2px solid $grey-400 !important;
  }

  // input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  //   border-bottom: none;
  //   box-shadow: 0 0px 20px 0 black;

  // }
  
  input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
    box-shadow: 0 0px 10px 0 #ff814c;
  }
}

.select-dropdown {
  li {
    span {
      color: $dark-grey;
    }
    :hover {
      background-color: $orange-300;
      color: $white;
    }

  }
}

.card-panel {
  box-shadow: none;
}

.ng-select {
  padding-bottom: 0.95em;
}

.ng-select .ng-select-container {
  position: initial !important;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  text-indent: 20px;
  // bottom: 3.5em;
}

@media only screen and (min-width: 1024px){
  .modal {
    height: 100%;
    padding: 5em;
  }
}

@media only screen and (max-width: 1024px){
  .modal {
    height: 100%;
    padding: 0.2em;
  }
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: $orange;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(255, 111, 0, 0.2);
  outline: none;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: $orange;
  will-change: left, right;
}
