@import "./app/vars";
@import "~@ng-select/ng-select/themes/material.theme.css";

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

nav, .sidenav {
  background: $dark-grey;
  color: white;

  .material-icons {
    color:white !important;
  }
}

.sidenav {
  top: 64px;
  li:hover {
    background-color: $grey-600;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
  }
  li > a {
    color: white;
  }
  .collapsible-body, 
  .sidenav.fixed .collapsible-body {
    background-color: #232425;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
.sidenav .collapsible-header, .sidenav.fixed .collapsible-header {
  padding: 0 26px;
}

.pagination li.active {
  background-color: $blue;
}

* {
  transition: 0.3s;
  &:not(.btn > *) {
    color:$dark-grey;
  }
}

.success {
  background-color: $blue;
  color: $white;
}

.fail {
  background-color: $red;
  color: $white;
}

.clickable {
  cursor: pointer;
}

.background-round {
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.18);
}

.gradient-45deg-light-blue-cyan {
  background: linear-gradient(45deg,#0288d1,#26c6da)!important;
}

.gradient-45deg-red-pink {
  background: linear-gradient(45deg,#ff5252,#f48fb1)!important;
}

.gradient-45deg-green-teal {
  background: linear-gradient(45deg,#43a047,#1de9b6)!important;
}